<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación Financiera{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}

    <div class="content-wrapper"> <!-- Un div contenedor general -->
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Scripts globales si los tienes -->
    {% block scripts_extra %}{% endblock %}
</body>
</html>